@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');


:root{
    --cor-primaria: #141115;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
    padding: 5% 6%;
}

.apresentacao {
    padding: 5% 0 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.apresentacao__conteudo__titulo {
    font-family: "Krona One", sans-serif;
    font-size: 2.25rem;
    color: var(--cor-secundaria);
}

.destaque__titulo {
    color: var(--cor-terciaria);
}

.destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apresentacao__conteudo__subtitulo{
    font-family: "Krona One", sans-serif;
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__navegacao {
    color: var(--cor-terciaria);
    width: 378px;
    height: 38px;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    color: var(--cor-terciaria);
}

i{
    width: 32px;
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__imagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    align-items: center;
}

@media (max-width: 1200px){

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo__imagem{
        width: auto;
    }

}