@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root {
    --cor-primaria: #141115;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

main {
    padding: 5% 6%;
}

.cabecalho__nav {
    display: flex;
    padding: 5%;
    gap: 80px;
}

.cabecalho__nav__links {
    color: var(--cor-terciaria);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.cabecalho__nav__links:hover {
    color: var(--cor-secundaria);
    transition: all 0.1s;
}

#pagina_atual {
    border-bottom: 2px solid var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 0 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.apresentacao__conteudo__titulo {
    font-family: "Krona One", sans-serif;
    font-size: 2.25rem;
    color: var(--cor-secundaria);
}

.destaque__titulo {
    color: var(--cor-terciaria);
}

.destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apresentacao__conteudo__subtitulo {
    font-family: "Krona One", sans-serif;
    font-size: 1.5rem;
}

#linha-horizontal {
    width: auto;
    border: 1px solid var(--cor-terciaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__navegacao {
    color: var(--cor-terciaria);
    width: 378px;
    height: 38px;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    color: var(--cor-terciaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

i {
    width: 32px;
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    align-items: center;
}

.rodape {
    margin-top: 10%;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 10px;
}

@media (max-width: 1200px) {

    body {
        padding: 5% 3% 20% 3%;
    }

    .cabecalho__nav {
        justify-content: center;
        width: auto;
        font-size: 1%;
        gap: 8%;
        flex-wrap: wrap;
        line-height: 40px;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 0%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__links__navegacao {
        width: auto;
    }

    .apresentacao__conteudo__imagem {
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 100%;
    }

    .rodape{
        width: auto;
        font-size: 1rem;
        margin-top: 25%;
    }

}

ul {
    font-family: "Montserrat", sans-serif;
    padding: 0 0 0 4%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.italico {
    width: auto;
    font-size: 1rem;
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__curriculo {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 50px;
}